@charset "UTF-8";
/* Base for label styling */
/* line 3, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:not(:checked),
[class="data-bomb-checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* line 8, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:not(:checked) + label,
[class="data-bomb-checkbox"]:checked + label {
  position: relative;
  padding-left: 12px;
  left: 10px;
  top: 9px;
  cursor: pointer;
}

/* checkbox aspect */
/* line 18, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:not(:checked) + label:before,
[class="data-bomb-checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
/* line 30, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:not(:checked) + label:after,
[class="data-bomb-checkbox"]:checked + label:after {
  content: '✘';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
/* line 41, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* line 45, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
/* line 50, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:disabled:not(:checked) + label:before,
[class="data-bomb-checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* line 56, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:disabled:checked + label:after {
  color: #999;
}

/* line 59, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
/* line 63, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
[class="data-bomb-checkbox"]:checked:focus + label:before,
[class="data-bomb-checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
/* line 69, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/checkbox.scss */
label:hover:before {
  border: 1px solid #4778d9 !important;
}
/* line 5, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 9, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.navbar {
  background-color: white;
  padding: 5px 0;
}

/* line 13, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  font-size: 1.5em;
  color: #2980b9;
}

/* line 17, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.navbar-default .navbar-nav > li > a {
  color: black;
}

/* line 20, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #2980b9;
}

/* line 24, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.main-column {
  padding: 0;
}

/* line 27, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.img-center {
  display: block;
  margin: 6% auto;
}

/* line 31, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.title-main {
  margin: 3% 0 108px;
  font-size: 3.5em;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

/* line 36, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.footer {
  background-color: #ecf0f1;
  padding-top: 1%;
}

/* line 40, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.footer-col {
  padding: 0;
}

/* line 43, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.footer-title {
  color: black;
}

/* line 46, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.white {
  color: white;
}

/* line 49, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.black {
  color: black;
}

/* line 52, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.homepage-wrapper {
  overflow-x: hidden;
}

/* line 55, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.user-form {
  padding: 3% 0;
}

/* line 58, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.form-container {
  margin: 120px 0 150px 0;
}

/* line 64, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.form-col {
  background-color: white;
  padding: 1% 4% 1% 4%;
  border-radius: 3px;
}

/* line 69, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.form-title {
  margin-bottom: 27px;
  margin-top: 9px;
  color: black;
}

/* line 74, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#input-icon-login-1 {
  position: absolute;
  left: 45px;
  top: 93px;
  width: 21px;
  height: 21px;
}

/* line 81, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#input-icon-login-2 {
  position: absolute;
  left: 45px;
  top: 142px;
  width: 21px;
  height: 21px;
}

/* line 88, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#input-icon-login-3 {
  position: absolute;
  left: 45px;
  top: 191px;
  width: 21px;
  height: 21px;
}

/* line 95, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#input-icon-login-4 {
  position: absolute;
  left: 45px;
  top: 240px;
  width: 21px;
  height: 21px;
}

/* line 102, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#navbar-brand-img {
  width: 36px;
  height: 36px;
  position: relative;
  right: 124px;
  top: 6px;
}

/* line 109, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#last-social-cont {
  margin-bottom: 9%;
}

/* line 112, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.btn-submit {
  margin: 3% 0 0 0;
}

/* line 115, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.home-nuke {
  margin-top: 90px;
  width: 300px;
  height: 300px;
}

/* line 120, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.logo-title {
  position: relative;
  left: 36px;
}

/* line 124, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.dash-subtitle {
  margin-left: 21px;
  display: inline-block;
  padding-top: 12px;
}

/* line 129, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.new-bomb {
  text-align: center;
  display: block;
  width: 100%;
  padding: 1%;
  margin: 0 auto;
  border-radius: 0;
  font-size: 1.4em;
}

/* line 138, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.box-1-cont {
  padding: 0;
  /*background-color: white;*/
  margin: 6% 6% 0 6%;
  border-radius: 3px;
}

/* line 144, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.box-1-col {
  padding: 3px 0 0 0;
  background-color: white;
}

/* line 148, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.username-cont {
  background-color: white;
  margin: 2% 6% 21% 6%;
  padding: 0 3%;
  border-radius: 3px;
}

/* line 154, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.username-col {
  padding: 0;
}

/* line 157, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.databombs-cont {
  background-color: white;
  margin: 0 6% 6% 6%;
  padding: 3%;
  border-radius: 3px;
}

/* line 163, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-media-icon {
  width: 36px;
  height: 36px;
  margin: 1% 2%;
  display: inline-block;
}

/* line 169, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-media-icon-2 {
  width: 45px;
  height: 45px;
  margin: 10px;
  display: inline-block;
}

/* line 175, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.plus-icon {
  width: 18px;
  height: 18px;
}

/* line 179, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.table-data {
  position: relative;
  left: 15px;
}

/* line 183, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.header-cont {
  background-color: white;
  margin: 6% auto 0 auto;
  border-radius: 3px;
  width: 72%;
  display: block;
}

/* line 190, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.label-cont {
  background-color: white;
  margin: 3% auto .5% auto;
  display: block;
  width: 72%;
  padding: 0 3%;
  border-radius: 3px;
}

/* line 198, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.label-col {
  padding: 0;
}

/* line 201, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.prof-cont {
  background-color: white;
  margin: 0 auto .5% auto;
  border-radius: 3px;
  width: 72%;
  display: block;
}

/* line 208, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.prof-label {
  display: inline-block;
  margin-bottom: 0;
}

/* line 212, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.prof-data {
  display: inline;
  margin-left: 2%;
}

/* line 216, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.prof-col {
  padding-bottom: 1%;
}

/* line 219, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-acc {
  /*position: relative;
  bottom: 9px;*/
}

/* line 223, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-acc-num {
  font-style: italic;
}

/* line 226, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.header-text {
  /*margin-top: 6%;*/
  font-size: 1.3em;
}

/*.data-bomb-checkbox {
  position: relative;
    left: 9px;
}*/
/* line 234, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-label {
  display: inline-block;
}

/* line 238, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-ch-col {
  margin: 7px;
}

/* line 241, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-ch-row {
  margin-bottom: 3%;
}

/* line 244, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(1, 1, 1, 0.75);
}

/* line 252, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont input {
  display: inline-block;
  float: left;
  height: 18px;
  padding: 0px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  border: 0px;
  margin: 2px;
}

/* line 263, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont input:focus {
  outline: 0;
  box-shadow: 0px;
}

/* line 267, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont .input-tag {
  padding: 2px 4px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
}

/* line 279, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont .input-tag .delete-tag {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}

/* line 285, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.tag-input-cont .input-tag .delete-tag:hover {
  background-color: #96b4d2;
}

/*.tags-input {
  width: 90%;
}*/
/* line 291, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.close-modal {
  display: block;
  margin: 0 auto;
}

/* line 295, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.upload-arrow {
  width: 18px;
  height: 18px;
  position: relative;
}

/* line 300, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.upload-div {
  width: 100%;
  height: 140px;
  padding-left: 4%;
  border: solid black 1px;
  border-radius: 3px;
  overflow-x: scroll;
}

/* line 308, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.beta-sym {
  color: red;
  font-size: .5em;
  vertical-align: top;
}

/* line 314, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-div {
  /*height: 30px;*/
  /*border: solid 1px black;*/
  /*background-color: #bdc3c7;*/
}

/* line 319, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-plus-img {
  width: 18px;
  height: 18px;
}

/* line 323, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.btn-add-url, .btn-add-url:hover {
  padding: 1px 9%;
  display: block;
  margin: 1% auto;
  background-color: #2c3e50;
  color: white;
}

/* line 330, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input {
  margin: 1% 0;
}

/* line 333, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(1, 1, 1, 0.75);
}

/* line 341, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont input {
  display: inline-block;
  float: left;
  height: 18px;
  padding: 0px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  border: 0px;
  margin: 2px;
}

/* line 352, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont input:focus {
  outline: 0;
  box-shadow: 0px;
}

/* line 356, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont .input-url {
  padding: 2px 4px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
}

/* line 368, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont .input-url .delete-url {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}

/* line 374, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.url-input-cont .input-url .delete-url:hover {
  background-color: #96b4d2;
}

/* line 377, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.thumbnail-img {
  width: 100px;
  height: 100px;
  /*margin-left: 3%;*/
  display: block;
  margin: 0 auto;
}

/* line 384, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.thumbnail-div {
  display: inline-block;
  margin: 1%;
  height: 126px;
  padding: 1%;
  border: solid black 1px;
}

/* line 391, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.file-name {
  display: block;
  text-align: center;
}

/* line 395, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.progress-bar {
  background-color: Crimson;
  height: 15px;
  margin: 1% 0;
}

/* line 400, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.progress-striped {
  height: 15px;
  margin: 1% 0;
}

/* line 404, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.file-progress {
  font-size: 12px;
  position: relative;
  bottom: 3px;
}

/* line 409, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.edit-account-btn {
  margin-left: 6px;
  padding: 0px;
  border-radius: 0px;
}

/* line 414, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-acc-edit-pic-cont {
  display: block;
  margin: 0 auto;
}

/* line 418, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-media-icon-3 {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  display: block;
}

/* line 424, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.input-icon-login-c {
  width: 21px;
  height: 21px;
}

/* line 428, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.user-input {
  font-style: italic;
  display: block;
}

/* line 432, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.form-icon-col {
  padding: 0;
}

/* line 435, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.btn-detonate {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 6% 0 3% 0;
}

/* line 441, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.image-file {
  width: 100px;
  height: 100px;
}

/* line 445, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.main-icon-login-c {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto 9% auto;
}

/* line 451, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.field_with_errors {
  display: block;
  width: 100%;
}

/* line 455, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.edit-account-btn {
  border-radius: 0;
}

/* line 458, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.success-check {
  width: 27px;
  height: 27px;
}

/* line 462, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.x {
  width: 21px;
  height: 21px;
  margin-left: 9px;
  margin-bottom: 6px;
}

/* line 468, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.main-page-container {
  margin-top: 3%;
  background-color: #969A97;
  padding: 0px;
}

/* line 473, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
#unlink-facebook-account:hover {
  background-color: transparent;
  cursor: pointer;
}

/* line 477, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/main.scss */
.social-media-link {
  width: 27px;
  height: 27px;
}
/* line 1, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/stephenmuscarella/Desktop/Personal Projects/spread/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

