// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: white;
  padding: 5px 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  font-size: 1.5em;
  color: #2980b9;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #2980b9;
}

.main-column {
  padding: 0;
}
.img-center {
  display: block;
  margin: 6% auto;
}
.title-main {
  margin: 3% 0 108px;
  font-size: 3.5em;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.footer {
  background-color: #ecf0f1;
  padding-top: 1%;
}
.footer-col {
  padding: 0;
}
.footer-title {
  color: black;
}
.white {
  color: white;
}
.black {
  color: black;
}
.homepage-wrapper {
  overflow-x: hidden;
}
.user-form {
  padding: 3% 0;
}
.form-container {
  margin: 120px 0 150px 0;
}
.form-row {

}
.form-col {
  background-color: white;
  padding: 1% 4% 1% 4%;
  border-radius: 3px;
}
.form-title {
  margin-bottom: 27px;
  margin-top: 9px;
  color: black;
}
#input-icon-login-1 {
  position: absolute;
    left: 45px;
    top: 93px;
  width: 21px;
  height: 21px;
}
#input-icon-login-2 {
  position: absolute;
    left: 45px;
    top: 142px;
  width: 21px;
  height: 21px;
}
#input-icon-login-3 {
  position: absolute;
    left: 45px;
    top: 191px;
  width: 21px;
  height: 21px;
}
#input-icon-login-4 {
  position: absolute;
    left: 45px;
    top: 240px;
  width: 21px;
  height: 21px;
}
#navbar-brand-img {
  width: 36px;
  height: 36px;
  position: relative;
    right: 124px;
    top: 6px;
}
#last-social-cont {
  margin-bottom: 9%;
}
.btn-submit {
  margin: 3% 0 0 0;
}
.home-nuke {
  margin-top: 90px;
  width: 300px;
  height: 300px;
}
.logo-title {
  position: relative;
  left: 36px;
}
.dash-subtitle {
  margin-left: 21px;
  display: inline-block;
  padding-top: 12px;
}
.new-bomb {
  text-align: center;
  display: block;
  width: 100%;
  padding: 1%;
  margin: 0 auto;
  border-radius: 0;
  font-size: 1.4em;
}
.box-1-cont {
  padding: 0;
  /*background-color: white;*/
  margin: 6% 6% 0 6%;
  border-radius: 3px;
}
.box-1-col {
  padding: 3px 0 0 0;
  background-color: white;
}
.username-cont {
  background-color: white;
  margin: 2% 6% 21% 6%;
  padding: 0 3%;
  border-radius: 3px;
}
.username-col {
  padding: 0;
}
.databombs-cont {
  background-color: white;
  margin: 0 6% 6% 6%;
  padding: 3%;
  border-radius: 3px;
}
.social-media-icon {
  width: 36px;
  height: 36px;
  margin: 1% 2%;
  display: inline-block;
}
.social-media-icon-2 {
  width: 45px;
  height: 45px;
  margin: 10px;
  display: inline-block;
}
.plus-icon {
  width: 18px;
  height: 18px;
}
.table-data {
  position: relative;
  left: 15px;
}
.header-cont {
  background-color: white;
  margin: 6% auto 0 auto;
  border-radius: 3px;
  width: 72%;
  display: block;
}
.label-cont {
  background-color: white;
  margin: 3% auto .5% auto;
  display: block;
  width: 72%;
  padding: 0 3%;
  border-radius: 3px;
}
.label-col {
  padding: 0;
}
.prof-cont {
  background-color: white;
  margin: 0 auto .5% auto;
  border-radius: 3px;
  width: 72%;
  display: block;
}
.prof-label {
  display: inline-block;
  margin-bottom: 0;
}
.prof-data {
  display: inline;
  margin-left: 2%;
}
.prof-col {
  padding-bottom: 1%;
}
.social-acc {
  /*position: relative;
  bottom: 9px;*/
}
.social-acc-num {
  font-style: italic;
}
.header-text {
  /*margin-top: 6%;*/
  font-size: 1.3em;
}
/*.data-bomb-checkbox {
  position: relative;
    left: 9px;
}*/
.social-label {
  display: inline-block;
}

.social-ch-col {
  margin: 7px;
}
.social-ch-row {
  margin-bottom: 3%;
}
.tag-input-cont {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(1  , 1, 1, 0.75);
}
.tag-input-cont input {
  display: inline-block;
  float: left;
  height: 18px;
  padding: 0px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  border: 0px;
  margin: 2px;
}
.tag-input-cont input:focus {
  outline: 0;
  box-shadow: 0px;
}
.tag-input-cont .input-tag {
  padding: 2px 4px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
}

.tag-input-cont .input-tag .delete-tag {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}
.tag-input-cont .input-tag .delete-tag:hover {
  background-color: #96b4d2;
}
/*.tags-input {
  width: 90%;
}*/
.close-modal {
  display: block;
  margin: 0 auto;
}
.upload-arrow {
  width: 18px;
  height: 18px;
  position: relative;
}
.upload-div {
  width: 100%;
  height: 140px;
  padding-left: 4%;
  border: solid black 1px;
  border-radius: 3px;
  overflow-x: scroll;
}
.beta-sym {
  color: red;
  font-size: .5em;
  vertical-align: top;

}
.url-div {
  /*height: 30px;*/
  /*border: solid 1px black;*/
  /*background-color: #bdc3c7;*/
}
.url-plus-img {
  width: 18px;
  height: 18px;
}
.btn-add-url, .btn-add-url:hover {
  padding: 1px 9%;
  display: block;
  margin: 1% auto;
  background-color: #2c3e50;
  color: white;
}
.url-input {
  margin: 1% 0;
}
.url-input-cont {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(1  , 1, 1, 0.75);
}
.url-input-cont input {
  display: inline-block;
  float: left;
  height: 18px;
  padding: 0px;
  font-size: 18px;
  line-height: 18px;
  color: black;
  border: 0px;
  margin: 2px;
}
.url-input-cont input:focus {
  outline: 0;
  box-shadow: 0px;
}
.url-input-cont .input-url {
  padding: 2px 4px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
}

.url-input-cont .input-url .delete-url {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}
.url-input-cont .input-url .delete-url:hover {
  background-color: #96b4d2;
}
.thumbnail-img {
  width: 100px;
  height: 100px;
  /*margin-left: 3%;*/
  display: block;
  margin: 0 auto;
}
.thumbnail-div {
  display: inline-block;
  margin: 1%;
  height: 126px;
  padding: 1%;
  border: solid black 1px;
}
.file-name {
  display: block;
  text-align: center;
}
.progress-bar {
  background-color: Crimson;
  height: 15px;
  margin: 1% 0;
}
.progress-striped {
  height: 15px;
  margin: 1% 0;
}
.file-progress {
  font-size: 12px;
  position: relative;
  bottom: 3px;
}
.edit-account-btn {
    margin-left: 6px;
    padding: 0px;
    border-radius: 0px;
}
.social-acc-edit-pic-cont {
  display: block;
  margin: 0 auto;
}
.social-media-icon-3 {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  display: block;
}
.input-icon-login-c {
  width: 21px;
  height: 21px;
}
.user-input {
  font-style: italic;
  display: block;
}
.form-icon-col {
  padding: 0;
}
.btn-detonate {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 6% 0 3% 0;
}
.image-file {
  width: 100px;
  height: 100px;
}
.main-icon-login-c {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto 9% auto;
}
.field_with_errors {
  display: block;
  width: 100%;
}
.edit-account-btn {
  border-radius: 0;
}
.success-check {
  width: 27px;
  height: 27px;
}
.x {
  width: 21px;
  height: 21px;
  margin-left: 9px;
  margin-bottom: 6px;
}
.main-page-container {
  margin-top: 3%;
  background-color: #969A97;
  padding: 0px;
}
#unlink-facebook-account:hover {
  background-color: transparent;
  cursor: pointer;
}
.social-media-link {
  width: 27px;
  height: 27px;
}
